<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EatDaBurger!</title>
		
		<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />

	</head>
	<body>
        <h1 class="title is-1">Eat the Burger!</h1>
		<p>testtext</p>
		{{{ body }}}
				<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerJS.js"></script>
	</body>
</html>
