
<img src="/assets/img/burger.png">
<div class="columns">
  <div class="column">
  <h2 class="title is-3 has-background-white">List of Burgers:</h2>
  </div>
  <div class="column">
  <h2 class="title is-3 has-background-white">Devoured Burgers:</h2>
  </div>
</div>




<ul>
    {{burgers}}
</ul>
<form>

  <div>
    <label for="nd">Enter the name of your new burger here:</label>
    <input id="help" type="text" name="name">
  </div>


  <button class="button" id="add" type="submit">Add Burger</button>
  <p>testtext</p>
</form>
